/* this controls the syling of the index.html file for the website */

body {
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#heading {
  /* font-size: 110%; */
  /* this is made transparent later and covered by the background */
  color: rgb(6, 6, 63);

  background: linear-gradient(
    27deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 94, 1) 100%
  );
  /* clips the background to the shape of text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.maindiv {
  /* initialize a grid here */
  /* use media quieries as well */
  display: grid;
  width: 75vw;
  height: 75vh;
  border: 3px solid rgb(11, 45, 102);
  border-radius: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px 10px;
  width: 100vw;
  height: 120px;
  background-color: teal;
  color: white;
  box-sizing: border-box;
  flex: 1;
}

footer p {
  margin: 0;
  line-height: 1;
}
.footericons {
  display: flex;
  gap: 0 20px;
}

.footericons a i,
.footericons a svg {
  font-size: 34px;
  width: 34px;
  height: 34px;
  fill: white; /* for SVG */
  color: white; /* for <i> */
}
